@model DMS.Application.DTOs.Users.UserFullDto

@{
    ViewData["Title"] = Model.FullName;
}


<div>
    @if (User.IsInRole("Admin"))
    {
        <hr />
        <a asp-action="Identity" asp-route-id="@Model.Id">Manage user</a>
    }

    @if (Model.CanCreateOnBehalfOfUser)
    {
        <hr />
        <a asp-action="Create" asp-controller="Document" asp-route-onBehalfOfUserId="@Model.Id">
            Create a document on user's behalf
        </a>
    }

    <hr />
    <a asp-action="Index" asp-controller="Document" asp-route-authorId="@Model.Id">
        Find user's documents
    </a> |
    <a asp-action="StatusCount" asp-controller="Reports" asp-route-userId="@Model.Id">
        User's stats
    </a>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Full name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
</div>

