@model IEnumerable<DMS.Application.DTOs.Documents.DocumentSummaryDto>

@{
    ViewData["Title"] = "All documents";
}

<h2>All documents</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="User" asp-route-id="@item.Author.Id">
                    <user-badge user="@item.Author" />
                </a>
            </td>
            <td>
                <document-status-badge status="@item.CurrentDocumentStatus"/>               

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  })
            </td>
        </tr>
        }
    </tbody>
</table>
